<!doctype html>
<html lang=en>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/style.css" media="screen" />
    </head>
    <body>
        {# site[] requires site variables to be set in configuration file #}
        {# <h1>{{ site['title'] }}</h1> #}

        <div id="wrapper">
            <div id="pages-nav">
                <ul id="pages-list">
                {# use pages|join() or a loop for more fine-controlled output #}
                {% for page in pages %}
                    <li>{{ page }}</li>
                {% endfor %}
                </ul>
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
