{% extends "base.html" %}
{% block content %}
<div id="intro-block">
    <p>This site is powered by <a href="https://github.com/tlatsas/wigiki">wigiki</a> and Github's <a href="https://gist.github.com/">gists</a>. Wigiki is free software, <a href="https://github.com/tlatsas/wigiki">get the code</a>, <a href="http://tlatsas.github.io/wigiki">read the documentation</a>, report <a href="https://github.com/tlatsas/wigiki/issues">issues</a> or contribute code and new themes.</p>

    <p>Click on any link on the left to get started.</p>
    <hr class="separator" />
    <p class="footnote">Built using the default wigiki theme.</p>
</div>
{% endblock %}
