/* put your css rules here */
#pages-nav {
    float: left;
    width: 300px;
}

#pages-list {
    padding-left: 0em;
    margin-top: 0em;
}

#pages-list li {
    list-style: none;
    padding-bottom: 0.3em;
}

#content {
    margin-right: 1em;
    margin-left: 310px;
}

#intro-block {
    padding: 0.2em 1em;
    background-color: #D4CFC8;
}

.separator {
    color: #B7B7B7;
}

.footnote {
    font-size: small;
    font-style: italic;
}
